<div class="hero-container">
  <div class="overlay"></div>
  <div class="conteudo">
    <h1>Esmalteria & Spa</h1>
    <p>Realce sua beleza com o cuidado que você merece.</p>
    <button class="btn-agendar" routerLink="/agendar">
  Agendar Horário
</button>
  </div>
</div>
<section class="servicos-section">
  <h2>Nossos Procedimentos</h2>
  
  <div class="grid-servicos">
    @for (item of servicos(); track item.id) {
      <div class="card-servico">
        <h3>{{ item.nome }}</h3>
        <p class="preco">R$ {{ item.preco }}</p>
        
        @if (item.descricao) {
          <p class="descricao">{{ item.descricao }}</p>
        }
      </div>
    } @empty {
      <p>Carregando procedimentos...</p>
    }
  </div>
</section>